@model IEnumerable<NoSun.Models.NPC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPCName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NPCName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NPCID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NPCID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NPCID })
        </td>
    </tr>
}

</table>
