@model IEnumerable<NoSun.Models.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Def)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeaponID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Def)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeaponID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonagemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonagemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonagemId })
        </td>
    </tr>
}

</table>
