@model IEnumerable<NoSun.Models.Weapon>

@{
    ViewBag.Title = "Arsenal of Weapons";
}

<h2>Arsenal of Weapons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Def)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Def)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeaponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeaponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeaponId })
        </td>
    </tr>
}

</table>
